/*
Doctors Html Theme
Author: Ruhul Amin
Author URI: https://ruhul-amin.info/
Verson: 1.0.0

=====Table of Content=====
1. slider and nav bar start
2. about part
3. schedule part
4. client review

*/


/* fonts start  */

@font-face {
    font-family: 'Proxima Nova Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Regular'), url('ProximaNova-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Proxima Nova Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Thin'), url('ProximaNovaT-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Light'), url('ProximaNova-Light.woff') format('woff');
}


@font-face {
    font-family: 'Proxima Nova Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Semibold'), url('ProximaNova-Semibold.woff') format('woff');
}


@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Bold'), url('ProximaNova-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Proxima Nova Extrabold';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Extrabold'), url('ProximaNova-Extrabld.woff') format('woff');
}


@font-face {
    font-family: 'Proxima Nova Black';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Black'), url('ProximaNova-Black.woff') format('woff');
}
/* fonts end */

/* common css start */
a, a:hover{
    text-decoration: none;
}
body{
    font-family: 'Proxima Nova Regular', sans-serif;
}
/* common css end */


/* slider and nav bar start */
.header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider_content{
    padding: 130px 0;
}
.custom_nav{
    background-color: rgba(0,43,66,.9);
    padding: 28px 0;
}
#my_nav ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    padding: 13px 20px;
    position: relative;
}
#my_nav ul li:last-child a{
    color: #00314a;
    background-color: #fff;
    transition: all .3s;
    border: 1px solid transparent;
}
#my_nav ul li:last-child:hover a{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
#my_nav ul li:not(:last-child) a::after{
    position: absolute;
    transition: all .3s;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: '';
    transform: translateX(-50%);
}
#my_nav ul li.active a::after,
#my_nav ul li:hover a::after{
    width: 70%;
}

/* slider content */
.slider_content h1{
    color: #00314a;
    font-size: 85px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.slider_content h2{
    color: #00314a;
    font-size: 55px;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
}
.slider_content p{
    color: #00314a;
    font-size: 20px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 532px 40px 0;
}

.theme_button{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    padding: 16px 20px;
    background-color: #00314a;
    transition: all .5s;
    border: 1px solid transparent;
}
.theme_button:hover{
    color: #00314a;
    border-color: #00314a;
    background-color: transparent;
}
/* slider and nav bar end */

/* about part start */
.about{
    background-color: #f4f7fe;
    padding: 100px 0 65px;
}
.about .appointment_form{
    padding: 20px 30px 30px;
    background-color: #00314a;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.4);
}
.appointment_form h3{
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.appointment_form select,
.appointment_form input{
    border-radius: 0;
    border: 0;
    margin-bottom: 22px;
    color: #00314a;
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.appointment_form select:focus,
.appointment_form input:focus{
    box-shadow: none;
    outline: 0;
}
.appointment_form input[type=submit]{
    text-transform: capitalize;
    font-weight: 600;
    transition: all .5s;
    border: 1px solid transparent;
}
.appointment_form input[type=submit]:hover{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.appointment_form input:last-child{
    margin-bottom: 0;
}
.about .about_contact{
    margin-top: 40px;
}
.about .about_contact p{
    font-size: 18px;
    font-weight: 600;
    font-family: proxima-nova, sans-serif;
    color: #00314a;
}
.about .about_contact p i{
    color: #fff;
    background-color: #00314a;
    padding: 13px;
    margin-right: 10px;
}
h2.section_title{
    font-weight: 600;
    font-size: 30px;
    color: #00314a;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
}
h2.section_title::after{
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 60px;
    height: 4px;
    background-color: #00314a;
    content: '';
    transform: translateX(-50%);
    border-radius: 5px;

}
.about h2.section_title::after{
    left: 0;
    transform: none;
}
.about .about_content h3{
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 20px;
    color: #00314a;
}
.about .about_content p{
    color: #00314a;
    font-size: 16px;
    line-height: 28px;
}
.about .about_content img{
    margin-top: 60px;
}
/* about part end */


/* schedule part start */
.schedule{
    padding: 65px 0;
}
.schedule .single_schedule{
    background-color: #00314a;
    color: #fff;
    padding: 20px;
    transition: all .5s;
}
.schedule .single_schedule:hover{
    box-shadow: 0 20px 6px -10px rgba(0,0,0,.5);
}
.schedule .single_schedule h3,
.schedule .single_schedule h2{
    font-size: 25px;
    font-weight: 400;
}
.schedule .single_schedule p{
    font-size: 16px;
    font-weight: 100;
}
.schedule .single_schedule a{
    background-color: #fff;
    color: #00314a;
    border: 1px solid transparent;
    padding: 7px 20px;
    display: inline-block;
    font-weight: 600;
    transition: all .5s;
}
.schedule .single_schedule a:hover{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
/* schedule part end */

/* client review part start */
.client_review{
    padding: 65px;
    background-color: #f4f7fe;
}
.client_image{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.3);
}
.client_slider h3.client_name{
    font-size: 25px;
    font-weight: 400;
    margin: 15px 0 5px;
    font-family: 'Proxima Nova Regular', sans-serif;
}
.client_slider p.client_designation{
    font-size: 18px;
    font-weight: 100;
}
.client_slider .client_quotation p{
    font-size: 23px;
    font-style: italic;
    line-height: 35px;
    font-family: 'Proxima Nova Light', sans-serif;
}
.client_slider .client_quotation{
    position: relative;
}
.client_slider .client_quotation p i{
    position: absolute;
    top: -40px;
    left: 0%;
}

/* client review part end */
